.navigation-bar{
    text-align: center;

}

.hello{
    color:  rgb(98, 98, 199);
    position: relative;
    left: 90px;
}

.myname{
    font-size: 90px;
    color: rgb(47, 47, 47);
    margin-top: -17px;
    position: relative;
    left: 90px;
}

.mycareer{
    font-size: 100px;
    color: rgb(86, 86, 130);
    margin-top: -100px;
    position: relative;
    left: 90px;
}

.intro{
    position: relative;
    left: 90px;
    color: rgb(86, 86, 130);
    font-size: 18px;
    top: -80px;
}

#btn{
    position: relative;
    left: 90px;
    color:  rgb(98, 98, 199);
    border: 1.5px solid  rgb(98, 98, 199);
    border-radius: 4px;
    padding: 9px;
    font-size: 15px;
    box-sizing: 25px;
    top: -60px;
    letter-spacing: 1px;
    background-color: white;
}

h1{
    position: relative;
    left: 90px; 
    font-size: 40px;
    color: rgb(41, 41, 41);
}

h1:before {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background: #000;
    left: 200px;
    top: 50%;
    position: absolute;
    background-color: rgb(153, 153, 153);
  }

.aboutmeparagraph{
    position: relative;
    left: 90px;
    font-size: 18px;
    color: rgb(6, 6, 6);
}

#me{
    height: 240px;
    width: 240px;
    position: relative;
    left: 750px;
    top: -240px;
    border-radius: 8px;
}

button{
    position: relative;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    left: 350px;
    background-color: white;
}

.angular{
    height: 30px;
    width: 30px;
}

.btn-group{
    display: flex;
}



