.navigation-bar{
    text-align: center;

}

.hello{
    color:  rgb(98, 98, 199);
    position: relative;
    left: 120px;
}

.myname{
    font-size: 90px;
    color: rgb(47, 47, 47);
    margin-top: -17px;
    position: relative;
    left: 120px;
}

.mycareer{
    font-size: 100px;
    color: rgb(86, 86, 130);
    margin-top: -100px;
    position: relative;
    left: 120px;
}

.intro{
    position: relative;
    left: 120px;
    color: rgb(86, 86, 130);
    font-size: 18px;
    top: -80px;
}

#btn{
    position: relative;
    left: 120px;
    color:  rgb(98, 98, 199);
    border: 2px solid  rgb(98, 98, 199);
    border-radius: 4px;
    padding: 15px;
    font-size: 15px;
    box-sizing: 25px;
    top: -60px;
    letter-spacing: 1px;
    background-color: white;
    width: 160px;
}

#btn:hover{
    background-color: rgba(98, 98, 199, 0.234);
}

h1{
    
    position: relative;
    left: 120px; 
    font-size: 40px;
    color: rgb(41, 41, 41);
}

h1:before {
    content: "";
    display: block;
    width: 250px;
    height: 1px;
    background: #000;
    left: 210px;
    top: 50%;
    position: absolute;
    background-color: rgb(153, 153, 153);
  }

.aboutmeparagraph{
    position: relative;
    left: 120px;
    font-size: 18px;
    color: rgb(41, 41, 41);
}

#me{
    height: 240px;
    width: 240px;
    position: relative;
    left: 750px;
    top: -240px;
    border-radius: 8px;
}

h2{
    text-align: center;
    font-size: 40px;
    font-weight: 20px;
    position: relative;
    top: -170px;
    color: rgb(41, 41, 41);
}

.card1{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    left: 250px;
    background-color: white;
}

.card2{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    left: 300px;
    background-color: white;
}

.card3{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    left: 350px;
    background-color: white;
}

.card4{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    left: 400px;
    background-color: white;
}

.card5{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    top: 70px;
    left: -200px;
    background-color: white;
}

.card6{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    top: 70px;
    left: -150px;
    background-color: white;
}

.card7{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    top: 70px;
    left: -100px;
    background-color: white;
}

.card8{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    top: 140px;
    left: -500px;
    background-color: white;
}

.card9{
    position: relative;
    width: 100px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgb(153, 153, 153);
    top: 140px;
    left: -450px;
    background-color: white;
}


.angular{
    height: 30px;
    width: 30px;
}

.btn-group{
    display: flex;
    position: relative;
    top: -150px;
}

/* Style the tab */
.tab {
    position: relative;
    left: 120px;
    width: 20%;
    height: 300px;
}
  
  /* Style the buttons that are used to open the tab content */
.tab button {
    display: block;
    background-color: inherit;
    color: rgb(78, 76, 76);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
}
  
  /* Change background color of buttons on hover */
.tab button:hover {
    color:  rgb(98, 98, 199);
    background-color:  rgb(98, 98, 199);
}
  
  /* Create an active/current "tab button" class */
.tab button.active {
    background-color: #ccc;
}
  
  /* Style the tab content */
.tabcontent {
    position: relative;
    left: 470px;
    top: -300px;
    padding: 0px 12px;
    width: 40%;
    border-left: none;
    height: 300px;
    display: none;
}

h3{
    font-size: 25px;
    position: relative;
    top: 25px;
    color: rgb(41, 41, 41);
}

.duration{
    position: relative;
    top: 5px;
    color: rgb(78, 76, 76);
}

.paragraph{
    font-size: 18px;
    position: relative;
    top: 10px;
    color: rgb(41, 41, 41);
}

.dot {
    height: 6px;
    width: 6px;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -3px;
}


#verticalLine {
    border-left: 2px solid rgb(78, 76, 76);;
    height: 250px;
    position: relative;
    right: -10px;
}

#verticalLine:hover{
  color: rgb(98, 98, 199);
}



